:root{
    --panel: rgb(60, 65, 83);
}
html{
    height: 100%;
}
body{
    background-color: black;
    margin: 0;
}
.container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 3fr;
    gap: 4px;
    text-align: center;
}
.header{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr 1fr;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background-color: var(--panel);
    align-items: center;
}
.sidebar{
    display: grid;
    grid-template-rows: .5fr 5fr;
    grid-row: 1 / 4;
    background-color: var(--panel);
    gap: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.sidebar-content-container{
    display: grid;
    grid-template-rows: repeat(6,.5fr) 1fr repeat(3, .5fr);
    gap: 4px;
}
.side-content{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(34, 42, 58);
    border-radius: 0px 10px 10px 0px;
    padding-left: 30px;
}
.project-container{
    display: grid;
    grid-template-rows: 1fr 15fr;
    grid-row: 2 / 4;
    background-color: var(--panel);
}
.card-container{
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}
.project-cards{
    display: grid;
    background-color: rgb(34, 42, 58);
    border-radius: 10px;
    padding: 15px;
}
.announcements{
    background-color: var(--panel);
}
.trending{
    background-color: var(--panel);
}
.search-bar{
    display: flex;
    flex: 1;
    background-color: white;
    backdrop-filter: invert(80%);
}
img{
    width: 100%;
    border-radius: 10px;
    align-self: center;
}
.icon{
    height: 30px;
    width: 30px;
}
.search-bar-container{
    display: flex;
    flex: 1;
    background-color: var(--panel);
    grid-column: 2 / 3;
}
.bell{
    grid-column: 4 / 5;
}
.profile{
    grid-column: 5 / 6;
}